html {
  scroll-behavior: smooth;
}

#indexbody {
  margin: 0;
  background-image: linear-gradient(#00c2bb, #255c5a);
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  position: relative;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  position: relative;
}
